export PGDATABASE=autograder
export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export DATABASE_URL=postgres://postgres:postgres@localhost/autograder?sslmode=disable
export GOOSE_DBSTRING=$DATABASE_URL
