.questionScore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.score {
    font-family: 'Azeret Mono';
    font-size: 125%;
}
.green {
    color: var(--color-success);
}
.yellow {
    color: var(--color-warning);
}
.red {
    color: var(--color-error);
}
.completionIndicator {
    width: 40px;
    height: 40px;
}