.assignmentQuestion {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    color: white;
    font-size: 150%;
    text-decoration: underline;
} 

.completionIndicator {
    width: 40px;
    height: 40px;
    margin-right: 1%;
}