.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: var(--color-bg-navbar);
}

.nav-left {
    margin-left: 1vw;
}

.nav-right {
    padding-right: 1vw;
}

.nav-item {
    font-family: 'Azeret Mono', monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-NCS-blue);
    padding-right: 3vw;
}

#logo {
    font-family: 'Monomaniac One';
    font-size: 2em;
    text-transform: uppercase;
	color: var(--color-raisin-black);
	text-decoration: none;
}