.fontsize-input {
    padding: 1%;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 80%;
}
.fontsize-number {
    width: 50%;
    text-align: center;
    font-size: 120%;
    font-family: "Roboto";
    font-weight: bold;
}