.file-tabs {
  display: inline-block;
  background-color: var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-darkest);
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.file-tab {
  display: inline-block;
  font-family: "Roboto";
  align-items: center;
  padding: .5%;
  color: var(--color-gray-text);
  cursor: pointer;
  user-select: none;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}

.file-tab.active {
  background-color: var(--color-white);
  color: var(--color-black);
}

.file-tab:hover {
  background-color: var(--color-gray-medium);
}

.tab-name {
  margin-right: 6px;
}

.close-btn {
  background: none;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  font-size: 14px;
}

.close-btn:hover {
  color: var(--color-black);
}
