#grades-subpage {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#show-grades-parent {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
#show-grades-checkbox {
    accent-color: var(--color-NCS-blue);
    width: 2rem;
    height: 2rem;
}
#show-grades-title {
    font-size: 125%;
    font-family: 'Azeret Mono';
}