.points-progress-parent {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    gap: 1rem;
    font-family: "Roboto";
}
.points-progress-bar {
    width: 100%;
    height: 10px;
    background: var(--color-red);
}
.points-progress-bar::-webkit-progress-bar {
  background-color: var(--color-red);
}

.points-progress-bar::-webkit-progress-value {
  background-color: var(--color-success);
}

.points-progress-bar::-moz-progress-bar {
  background-color: var(--color-success);
}
.progress-text {
    font-family: "Roboto";
    font-size: 100%;
}
.progress-text-parent {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.redtext {
    color: var(--color-red);
}
.greentext {
    color: var(--color-success);
}
.total-points {
    flex: 1;
    text-align: right;
}