.question-editor {
    overflow-x: hidden;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 2rem;
    background: white;
    border-radius: 20px;
    padding: 2%;
}
.question-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.prog-lang {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 1.5rem;
    align-items: center;
}
.prog-lang-parent {
    width: 20%;
}
.prog-lang-select {
    width: 50%;
}