.question-grade-dropdown {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.question-grade-header {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: .67%;
}
.question-grade-title {
    flex: 1;
    text-align: left;
    font-size: 120%;
    font-family: "Azeret Mono";
}
.question-grade-button {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}
.question-grade-triangle {
    font-size: 150%;
}

.question-grade-body {
    display: flex;
    flex-direction: column;
    padding: .67%;
}