.info-section {
    font-family: "Azeret Mono";
    font-weight: 700;
    font-size: 125%;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.students-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.add-student-button {
    font-size: 130%;
}

.save-changes-button {
    padding: 1%;
    font-size: 100%;
}

.name-title {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    border-right: thin solid #000000;
}

.email-title {
    padding-left: 2.5%;
    padding-right: 5%;
    border-right: thin solid #000000;
}

.role {
    gap: 1rem;
}
.role-title {
    padding-left: 2.5%;
    padding-right: 5%;
}

#first-name-title {
    align-items: left;
    white-space: nowrap;
    padding-right: 2.5rem;
}

#last-name-title{
    align-items: right;
    white-space: nowrap;
}

#email-title {
    white-space: nowrap;
}