#main {
    margin-top: 2%;
    width: 100%;
}
.classroomName {
    width: 100%;
    text-align: center;
    font-family: "Monomaniac One";
    font-size: 350%;
}
#content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#body {
    overflow-x: hidden;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 2;
}
.hidden {
    display: none;
}
.errorParent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.error {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Azeret Mono';
    font-size: 150%;
    margin-top: 2%;
    padding: 2%;
    border: 2px solid var(--color-black);
    border-radius: 25px;
    color: var(--color-red);
    min-height: 30vh;
}
.edit-buttons {
    display: flex;
}
.with-padding {
    padding: 2%;
}
.button-parent {
    display: flex;
    flex: 1;
    align-items: center;
}
.right-align {
    justify-content: right;
}
.edit-button {
    width: 50%;
    font-family: 'Azeret Mono';
    color: var(--color-white);
    border-radius: 20px;
    padding: 1.5%;
    font-size: 150%;
    border: none;
}

.save-button {
    background-color: var(--color-process-cyan);
}

.save-button:hover {
    background-color: var(--color-aero-blue);
}

button.save-button:active {
    background-color: var(--color-NCS-blue);
}

.delete-button {
    background-color: var(--color-red);
}

.delete-button:hover {
    background-color: var(--color-danger);
}

button.delete-button:active {
    background-color: var(--color-error);
}

.edit-button:disabled {
    background-color: grey;
}