body {
    background: var(--color-bg-primary);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    align-items: stretch;     /* Makes all cards equal height */
}
.section-title {
    font-family: 'Azeret Mono', monospace;
    font-size: 200%;
    margin-bottom: 1%;
    margin-left: 2%;
    font-weight: bold;
}
.section {
    margin-top: 1%;
    margin-bottom: 1%;
}
.classes {
    position: absolute;
    top: 10%;
    left: 10%;
}
.errorParent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.error {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Azeret Mono';
    font-size: 150%;
    margin-top: 2%;
    padding: 2%;
    border: 2px solid var(--color-black);
    border-radius: 25px;
    color: var(--color-red);
    min-height: 30vh;
}