#classroomBody {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#assignments {
    flex: 3;
    padding: 1%;
}

#manage_button {
    padding: 1%;
    border-radius: 5px;
}

#homework { 
    padding: 1%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.errorMsg {
    width: 100%;
    margin-top: 3%;
    font-size: 200%;
    color: red;
    font-family: "Roboto";
    text-align: center;
}