.assignmentDropdown {
    width: 100%;
    border: 1.5px solid var(--color-black);
    box-sizing: border-box;
}

.revealButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-bg-dropdown-dark);
    color: var(--color-white);
    font-weight: bold;
    user-select: none;
    font-family: "Roboto";
    text-align: left;
    font-size: 150%;
    padding: 1%;
}

.openAssignment {
    background: var(--color-bg-dropdown);
    color: var(--color-black);
    font-family: "Roboto";
    padding: .5%;
    font-size: 85%;
    border-radius: 15px;
}

.assignmentBody {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-gray-darker);
    color: var(--color-black);
    padding: 2.5%;
}