.assignmentPanel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
    width: 75%;
    padding: 2%;
}

.assignmentTitle {
    font-family: "Azeret Mono";
    font-size: 225%;
    font-weight: bold;
}

.assignmentDescription {
    font-family: "Azeret Mono";
    font-weight: lighter;
    font-size: 125%;
}