.title-input {
    font-family: 'Azeret Mono';  
    font-size: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
    font-size: 1rem;
    padding: 4px 0;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    min-height: 2em;
}
.visibility-input {
    width: 100%;
}